!!!
%html
  %head
    %title Chatroom
    %meta{'http-equiv' => 'Refresh', :content =>'5'}
  %body
    #form
      %form{:action=>"/post", :method=>"post"}
        %input{:type=>"texfield", :name=>"hn", :value=>"#{params[:hn]}"}
        %input{:type=>"texfield", :name=>"str"}
        %input{:type=>"submit", :value=>"send"}
      %hr
    #item 
      - @entries.reverse.each do |item|
        #{item.name} : #{item.text}
        %hr

