!!!
%html
  %head
    %title Test
  %body
    #main
      %h1 Textbox Test
      %div Let's Go!
      - @entries.each do |item|
        %li
          you type: #{item.text}
      %form{:action=>"/add", :method=>"post"}
        %input{:type=>"texfield", :name=>"str"}
        %input{:type=>"submit", :value=>"send"}
      %div= @message
